# 치매 고위험군 웨어러블 라이프로그

|NO|항목(영문)|항목(한글)|타입|
|:-:|:-:|:-:|:-:|
|1|email|이메일|varchar(200)|
|2|date|요약 날짜|varchar(10)|
|3|check|착용 여부 체크|varchar(20)|
|4|nonwear|미착용 시간 체크|varchar(20)|
|5|activity_average_met|하루간 평균 MET|varchar(10)|
|6|activity_cal_active|하루간 활동 칼로리|varchar(10)|
|7|activity_cal_total|하루간 총 사용 칼로리|varchar(10)|
|8|activity_class_5min|하루간 5분당 활동 로그|BLOB|
|9|activity_daily_movement|매일 움직인 거리|varchar(10)|
|10|activity_day_end|활동 종료 시간|varchar(30)|
|11|activity_day_start|활동 시작 시간|varchar(30)|
|12|activity_high|고강도 활동 시간|varchar(10)|
|13|activity_inactive|비활동 시간|varchar(10)|
|14|activity_inactivity_alerts|비활동 알람 횟수|varchar(10)|
|15|active_low|저강도 활동 시간|varchar(10)|
|16|activity_medium|중강도 활동 시간|varchar(10)|
|17|activity_met_1min|하루간 1분 당 MET 로그|BLOB|
|18|activity_met_min_high|하루간 고강도 활동 MET|varchar(10)|
|19|activity_met_min_inactive|하루간 비활동 MET|varchar(10)|
|20|activity_met_min_low|하루간 저강도 활동 MET|varchar(10)|
|21|activity_met_min_medium|하루간 중강도 활동 MET|varchar(10)|
|22|activity_non_wear|미착용 시간|varchar(10)|
|23|activity_rest|휴식 시간|varchar(10)|
|24|activity_score|활동 점수|varchar(10)|
|25|activity_score_meet_daily_targets|활동 목표달성 점수|varchar(10)|
|26|activity_score_move_every_hour|매 시간 당 활동유지 점수|varchar(10)|
|27|activity_score_recovery_time|회복시간 점수|varchar(10)|
|28|activity_score_stay_active|활동 유지 점수|varchar(10)|
|29|activity_score_training_frequency|운동 빈도 점수|varchar(10)|
|30|activity_score_training_volume|운동 빈도 점수|varchar(10)|
|31|activity_steps|매일 걸음 수|varchar(10)|
|32|activity_total|활동 총 시간(분)|varchar(10)|
|33|sleep_awake|깬 시간|varchar(10)|
|34|sleep_bedtime_end|잠 종료시간|varchar(30)|
|35|sleep_bedtime_start|잠 시작시간|varchar(30)|
|36|sleep_breatj_average|분단 평균 호흡 수|varchar(10)|
|37|sleep_deep|깊은 수면 시간|varchar(10)|
|38|sleep_duration|잠 시간|varchar(10)|
|39|sleep_efficiency|수면 효율|varchar(10)|
|40|sleep_hr_5min|5분 당 심박동 로그|BLOB|
|41|sleep_hr_average|분당 평균 심박동 수|varchar(10)|
|42|sleep_hr_lowest|분당 낮은 심박동 수|varchar(10)|
|43|sleep_hypnogram_5min|수면 상태 로그|BLOB|
|44|sleep_is_longest|본 수면 여부|varchar(10)|
|45|sleep_light|가벼운 수면 시간|varchar(10)|
|46|sleep_midpoint_at_delta|수면 중간점 시간 델타|varchar(10)|
|47|sleep_midpoint_time|수면 중간점 시간|varchar(10)|
|48|sleep_onset_latency|수면 잠복 시간|varchar(10)|
|49|sleep_period_id|수면 식별 아이디|varchar(10)|
|50|sleep_rem|램수면 시간|varchar(10)|
|51|sleep_restless|뒤척임 비율|varchar(10)|
|52|sleep_rmssd|평균 심박동변동|varchar(10)|
|53|sleep_rmssd_5min|5분 당 심박동변동 로그|BLOB|
|54|sleep_score|수면 종합 점수|varchar(10)|
|55|sleep_score_alignment|수면 시기 점수|varchar(10)|
|56|sleep_score_deep|깊은 수면 점수|varchar(10)|
|57|sleep_score_disturbances|수면 방해 점수|varchar(10)|
|58|sleep_score_efficiency|수면 효율 점수|varchar(10)|
|59|sleep_score_latency|수면 잠복 점수|varchar(10)|
|60|sleep_score_rem|램수면 점수|varchar(10)|
|61|sleep_score_total|수면 시간 기여 점수|varchar(10)|
|62|sleep_temperature_delta|피부 온도 편차|varchar(10)|
|63|sleep_temperature_deviation|피부 온도 편차|varchar(10)|
|64|sleep_temperature_trend_deviation|피부 온도 경향 편차|varchar(10)|
|65|timezone|시간 장소 정보|varchar(10)|
|66|sleep_total|수면 시간|varchar(10)|

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('data/train/train.csv')
df.head()

,EMAIL,summary_date,activity_average_met,activity_cal_active,activity_cal_total,activity_class_5min,activity_daily_movement,activity_high,activity_inactive,activity_inactivity_alerts,...,sleep_temperature_delta,sleep_temperature_deviation,sleep_temperature_trend_deviation,timezone,sleep_total,CONVERT(activity_class_5min USING utf8),CONVERT(activity_met_1min USING utf8),CONVERT(sleep_hr_5min USING utf8),CONVERT(sleep_hypnogram_5min USING utf8),CONVERT(sleep_rmssd_5min USING utf8)
0,nia+404@rowan.kr,2020-11-27,1.71875,730,2944,...,14346,0,417,0,...,-0.12,-0.12,99.99,NaN,\r,2/1/1/1/1/1/2/2/1/1/1/1/1/1/2/2/2/3/2/2/2/2/2/...,0.9/0.9/1.4/1.9/1.1/0.9/0.9/1.1/1.3/1/0.9/1.1/...,0/73/73/73/72/71/70/71/71/71/70/70/73/72/74/74...,4/2/4/3/3/1/2/2/2/2/2/2/3/3/3/4/4/3/2/2/2/2/2/...,0/10/10/10/11/11/10/12/18/13/14/12/10/10/18/17...
1,nia+404@rowan.kr,2020-11-28,1.40625,342,2449,...,6352,0,473,0,...,-0.32,-0.32,99.99,NaN,\r,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/2/2/2/2/2/2/...,1.2/1.1/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0....,69/70/69/69/70/72/71/72/70/69/69/69/68/68/63/6...,2/4/2/2/2/2/3/1/2/2/4/4/2/2/2/2/2/2/2/2/2/2/4/...,23/23/26/24/18/13/15/14/17/20/24/30/23/25/22/1...
2,nia+404@rowan.kr,2020-11-29,1.46875,401,2544,...,7297,0,586,0,...,0.07,0.07,99.99,NaN,\r,1/1/1/1/1/1/1/2/1/1/1/1/2/2/2/2/2/1/1/1/1/1/2/...,1.1/1.1/1.2/1.1/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0....,0/74/73/73/74/74/74/71/71/70/70/69/70/68/66/69...,4/2/4/4/1/1/1/4/4/4/4/4/4/4/2/3/4/2/2/4/2/2/2/...,0/11/14/20/13/14/14/16/27/29/27/20/19/19/14/12...
3,nia+404@rowan.kr,2020-11-30,0.34375,27,1850,...,491,0,176,0,...,-0.41,-0.41,99.99,NaN,\r,2/1/2/2/1/2/1/1/2/1/1/1/1/1/2/1/1/1/1/1/2/2/2/...,0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/...,73/70/71/72/75/75/73/70/70/70/67/63/63/63/63/6...,4/4/4/4/3/3/3/2/4/4/4/2/2/2/2/2/2/2/2/4/2/2/2/...,24/28/19/17/12/10/17/20/23/23/25/31/26/25/34/3...
4,nia+404@rowan.kr,2020-12-01,1.46875,333,2518,...,5861,0,646,0,...,-0.27,-0.27,99.99,NaN,\r,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/2/2/3/3/2/...,0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0....,0/0/0/0/0/0/0/0/69/69/71/69/65/66/64/64/65/66/...,4/4/4/4/4/4/4/4/4/4/4/2/2/2/2/3/3/2/4/4/4/2/2/...,0/0/0/0/0/0/0/0/21/22/26/23/19/29/22/17/14/13/...

In [4]:
label = pd.read_csv('data/train/train_label.csv')
label.head()

       SAMPLE_EMAIL DIAG_NM
0  nia+315@rowan.kr      CN
1  nia+220@rowan.kr      CN
2  nia+096@rowan.kr     MCI
3  nia+163@rowan.kr      CN
4  nia+396@rowan.kr      CN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9327 entries, 0 to 9326
Data columns (total 65 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   EMAIL                                     9327 non-null   object
 1   summary_date                              9327 non-null   object
 2   activity_average_met                      9327 non-null   float64
 3   activity_cal_active                       9327 non-null   int64
 4   activity_cal_total                        9327 non-null   int64
 5   activity_class_5min                       9327 non-null   object
 6   activity_daily_movement                   9327 non-null   int64
 7   activity_high                             9327 non-null   int64
 8   activity_inactive                         9327 non-null   int64
 9   activity_inactivity_alerts                9327 non-null   int64
 10  activity_low                              9327 non-null   int64
 11  activity_medium                           9327 non-null   int64
 12  activity_met_1min                         9327 non-null   object
 13  activity_met_min_high                     9327 non-null   int64
 14  activity_met_min_inactive                 9327 non-null   int64
 15  activity_met_min_low                      9327 non-null   int64
 16  activity_met_min_medium                   9327 non-null   int64
 17  activity_non_wear                         9327 non-null   int64
 18  activity_rest                             9327 non-null   int64
 19  activity_score                            9327 non-null   int64
 20  activity_score_meet_daily_targets         9327 non-null   int64
 21  activity_score_move_every_hour            9327 non-null   int64
 22  activity_score_recovery_time              9327 non-null   int64
 23  activity_score_stay_active                9327 non-null   int64
 24  activity_score_training_frequency         9327 non-null   int64
 25  activity_score_training_volume            9327 non-null   int64
 26  activity_steps                            9327 non-null   int64
 27  activity_total                            9327 non-null   int64
 28  sleep_awake                               9327 non-null   int64
 29  sleep_breath_average                      9327 non-null   float64
 30  sleep_deep                                9327 non-null   int64
 31  sleep_duration                            9327 non-null   int64
 32  sleep_efficiency                          9327 non-null   int64
 33  sleep_hr_5min                             9327 non-null   object
 34  sleep_hr_average                          9327 non-null   float64
 35  sleep_hr_lowest                           9327 non-null   int64
 36  sleep_hypnogram_5min                      9327 non-null   object
 37  sleep_is_longest                          9327 non-null   int64
 38  sleep_light                               9327 non-null   int64
 39  sleep_midpoint_at_delta                   9327 non-null   int64
 40  sleep_midpoint_time                       9327 non-null   int64
 41  sleep_onset_latency                       9327 non-null   int64
 42  sleep_period_id                           9327 non-null   int64
 43  sleep_rem                                 9327 non-null   int64
 44  sleep_restless                            9327 non-null   int64
 45  sleep_rmssd                               9327 non-null   int64
 46  sleep_rmssd_5min                          9327 non-null   object
 47  sleep_score                               9327 non-null   int64
 48  sleep_score_alignment                     9327 non-null   int64
 49  sleep_score_deep                          9327 non-null   int64
 50  sleep_score_disturbances                  9327 non-null   int64
 51  sleep_score_efficiency                    9327 non-null   int64
 52  sleep_score_latency                       9327 non-null   int64
 53  sleep_score_rem                           9327 non-null   int64
 54  sleep_score_total                         9327 non-null   int64
 55  sleep_temperature_delta                   9327 non-null   float64
 56  sleep_temperature_deviation               9327 non-null   float64
 57  sleep_temperature_trend_deviation         9327 non-null   float64
 58  timezone                                  0 non-null      float64
 59  sleep_total                               9327 non-null   object
 60  CONVERT(activity_class_5min USING utf8)   9327 non-null   object
 61  CONVERT(activity_met_1min USING utf8)     9327 non-null   object
 62  CONVERT(sleep_hr_5min USING utf8)         9327 non-null   object
 63  CONVERT(sleep_hypnogram_5min USING utf8)  9327 non-null   object
 64  CONVERT(sleep_rmssd_5min USING utf8)      9327 non-null   object
dtypes: float64(7), int64(45), object(13)
memory usage: 4.6+ MB